

.navbar-brand img {
  height: 140px;
  max-width: 340px;
  width: 100%;
  object-fit: contain;
  transition: height 0.2s, max-width 0.2s;
}
  
.navbar-nav .nav-link {
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
  }
  
.navbar-nav .nav-link:hover {
    color: #007bff;
  }